@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppointmentScheduler.Models.ViewModels.AppointmentVM
<div class="row">
    <div class="container">
        @if (User.IsInRole(AppointmentScheduler.Utility.Helper.Patient))
        {
            <div class="form-group row col-2" id="divDoctorList">
                <label> Изберете доктор</label>

                @Html.DropDownList("doctorId", new SelectList(ViewBag.DoctorList,"Id","Name"), new { @class="form-control select2" })
            </div>
        }
        <div id="calendar"></div>
    </div>
</div>

<partial name="_AddEditAppointment" model=@Model/>

<script>
    console.log("Layout loaded");
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/script-custom-calendar.js"></script>