@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppointmentScheduler.Models.ViewModels.AppointmentVM

<div class="modal fade" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="appointmentForm" method="post" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Запишете час</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Заглавие</label>
                        <input asp-for="Title" name="title" type="text" maxlength="100" class="form-control" id="title" />
                    </div>
                    <div class="form-group">
                        <label for="description">Описание</label>
                        <textarea asp-for="Description" name="description" class="form-control" id="description"></textarea>
                    </div>
                    
                    
                        @if (!User.IsInRole(AppointmentScheduler.Utility.Helper.Patient))
                        {
                            <div class="form-group">
                                <label for="patientId">Избери пациент</label>
                                <select asp-for="PatientId" name="patientId" id="patientId" asp-items="@(new SelectList(ViewBag.PatientList, "Id", "Name"))" class="form-control"></select>
                            </div>
                        }
                        else
                        {
                            <div class="form-group d-none">
                                <label for="patientId">Избери пациент</label>
                                <select asp-for="PatientId" name="patientId" id="patientId" asp-items="@(new SelectList(ViewBag.PatientList, "Id", "Name"))" class="form-control" type="hidden"></select>
                            </div>
                        }
                    

                    <!-- Hidden fields for storing selected start and end time -->
                    <input type="hidden" name="id" id="id" />
                    <input type="hidden" name="doctorId" id="doctorId" value="12345" />
                    <input type="hidden" name="startDate" id="startDate" />
                    <input type="hidden" name="endDate" id="endDate" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="onCloseModal();">Отказ</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Запазване на час</button>
                </div>
            </form>
        </div>
    </div>
</div>
